@import url('https://fonts.googleapis.com/css?family=Maven+Pro:400,500');
@import 'layout';
@import 'hexagon_grid';
@import 'sprite';


$cells: @@cell_count@@; // Is inserted by gulp
$cols:  @@cols@@;


@include hexagon-grid($cols, 1, 'standing', 'down');


$row_start:    0;
$row_height:  87;
$col_start:  -75;
$col_width:  100;
$col_offset: -50;
$cells: @@cells@@;

main {
  // transition: margin .4s ease;
  // transition: all 1s cubic-bezier(0.680, -0.550, 0.265, 1.550); /* easeInOutBack */
  // transition-timing-function: cubic-bezier(0.680, -0.550, 0.265, 1.550); /* easeInOutBack */
  transition: all 500ms cubic-bezier(0.675, -0.280, 0.260, 1.295); /* custom */
  transition-timing-function: cubic-bezier(0.675, -0.280, 0.260, 1.295); /* custom */
}

main {
  @each $cells_name in $cells {
    @if($cells_name != '') {
      $i: index($cells, $cells_name);
      $x: $i % $cols;
      $y: floor($i / $cols);
      $top: percentage(($y * $row_height + $row_start) / -100);
      $side: percentage(($x * $col_width + $col_start) / 100);
      @if($y % 2 == 1) {
        $side: percentage(($x * $col_width + $col_start + $col_offset) / 100);
      }
      @if($cells_name == 'home'){
        margin: $top $side 0 ($side * -1);
      }
      &.#{$cells_name} { margin: $top $side 0 ($side * -1); }
    }
  }
}